@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Create Mine", "Create", "Polls", null, new { @class = "btn btn-default" })

<h3>Popular Polls</h3>
@{
  var repo = new MySay.DB.PollRepository();
  var popular = repo.GetPolls();
  Html.RenderPartial("ListPolls", popular);
}

<br />
<hr />
<h3>Current Polls</h3>
@{
  var current = repo.GetPolls();
  Html.RenderPartial("ListPolls", current);
}
