@model IEnumerable<MySay.Models.Poll>

<table class="table table-hover">
    <tr>
        <th class="col-lg-2">
            @Html.DisplayNameFor(model => model.Description)
        </th>
      <th class="col-lg-2">
        @Html.DisplayNameFor(model => model.EndingOn)
      </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndingOn)
        </td>
    </tr>
}
</table>